.header__lang-link {
    margin-top: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: right;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.header__lang-link:nth-child(2) {
    text-decoration-line: none;
}

@media (max-width: 768px) {
    .header__lang-link {
        font-size: calc(1.125rem + (100vw - 320px) / (768 - 320) * (24 - 18));
    }
}