.place {
    max-width: 984px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
    gap: 3rem 2rem;
}

@media (max-width: 1024px) {
    .place {
        display: grid;
        grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
        gap: 3rem 2rem;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .place {
        display: grid;
        grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
        gap: 3rem 1.75rem;
        margin: 0 auto;
    }
}

@media screen and (max-width: 540px) { 
    .place { 
      grid-template-columns: minmax(min-content, max-content); 
      gap: 2rem; 
    } 
} 


