.lead {
    max-width: 984px;
}


@media (min-width: 768px) {
    .lead {
        margin: 48px auto 0;
    }
}

@media (min-width: 1280px) {
    .lead {
      margin-left: 148px;
      margin-top: 56px;
    }
}