.header__logo {
    width: 142px;
    height: 42px;
    background: url(../../../images/sprint-3-images/header-logo.svg);
    background-size: cover;
}

@media (min-width: 1280px) {
    .header__logo {
    width: 176px;
    height: 52px;
    }
}