.footer__link {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration-line: none;
    margin: 0 1.125rem 0 0;
}

.footer__link:hover {
    opacity: 0.8;
}

@media (max-width: 540px) {
    .footer__link {
        margin: 2rem 0 0;
        font-size: 1.5rem; 
    }
}

.footer__l:first-child { 
    margin-top: 0; 
} 