.lead__title {
    max-width: 720px;
    margin: 48px auto 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}

@media (min-width: 768px) {
    .lead__title {
      font-size: 96px;
      line-height: 1;
    }
}