.footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
}

.footer__copyright:hover {
    opacity: 0.3;
}

@media (max-width: 540px) {
    .footer__copyright {
        margin: 3rem 0 0;
    }
}