.footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 0;
}

.footer__copyright:hover {
    line-height: 16px;
    text-align: right;
}

@media (min-width: 1280px) {
    .footer__copyright {
        margin-top: 0;
        margin-left: 533px;
        line-height: 16px;
    }
}