.place__website__url-heading {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
}

@media (max-width: 768px) {
    .place__website__url-heading {
        margin-top: 12px;
    }
} 