.intro {
    width: 288px;
    margin-left: 16px;
    margin-top: 78px;
}

@media (min-width: 1280px) {
    .intro {
        width: 690px;
        margin-left: 148px;
        margin-top: 92px;
    }
}